.home {
  height: calc(100vh -3rem);
  row-gap: 1rem;
}

.home__data {
  align-self: center;
}

.home__title {
  font-size: 3.5rem;
  margin-bottom: 2.5rem;
}

.home__title-color {
  color: #4070f4;
}

.home__social {
  display: flex;
  flex-direction: column;
}

.home__social-icon {
  width: max-content;
  margin-bottom: 1rem;
  font-size: 1.5rem;
  color: #0e2431;
}

.linkedin:hover {
  color: #04669a;
}

.github:hover {
  color: #040204;
}

.button {
  display: inline-block;
  background-color: #4070f4;
  color: #fff;
  padding: 0.75rem 2.5rem;
  font-weight: 600;
  border-radius: 0.5rem;
}

.button:hover {
  box-shadow: 0 10px 36px rgba(0, 0, 0, 0.15);
}

.home__img {
  position: absolute;
  right: 0;
  top: 15%;
  /* bottom: 0; */
  width: 295px;
}

@media screen and (min-width: 768px) {
  .home {
    height: 100vh;
  }
  .home__data {
    align-self: flex-end;
  }
  .home__social {
    padding-top: 0;
    padding-bottom: 2.5rem;
    flex-direction: row;
    align-self: flex-end;
  }
  .home__social-icon {
    margin-bottom: 0;
    margin-right: 2rem;
  }
  .home__img {
    width: 457px;
    bottom: 15%;
  }
}

@media screen and (min-width: 1024px) {
  .home__img {
    right: 5%;
  }
}
